<% if user_signed_in? %>

  <% unless tweet.like_user(current_user.id).blank? %>
    <%= link_to tweet_like_path(tweet_id: tweet.id, id: tweet.likes[0].id), method: :delete, remote: true do %>
      <div class="vertical_like">
      <%= image_tag asset_path "like.png" %>
      </div>
    <% end %>
  <% else %>
    <%= link_to tweet_likes_path(tweet), method: :post, remote: true do %>
      <div class="vertical_like">
        <%= image_tag asset_path "n_like.png" %>
      </div>
    <% end %>
  <% end %>
<% end %>