body {
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}
/* <デバイスに関するユーザー画面> */
.container {
  padding: 30px;
  box-sizing: border-box;
  margin: 20px;
  text-align: center;
}

form input[type="submit"] {
  background-color: rgb(144, 207, 48);
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input, form textarea {
  width: 50%;
  max-width: 500px;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}
/* <デバイスに関するユーザー登録画面> */

/* ヘッダーに関するCSS */
.header {
  padding: 10px;
  background-color: #37383a;
  height: 80px;
}

.header__bar{
  display: flex;
    justify-content: space-between;
}

.header__bar a{
  text-decoration: none;
  color: #afec33;
}
.header__bar a:hover{
  color: #d6ff84;
}

.header_right{
  padding: 20px;
}

.post{
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #afec33;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
}

.post:hover{
  background-color: #00dcdc;
}

@media (max-width: 700px) {
  .post{
    padding: 5px 10px;
    font-size: 10px;
    text-align: center;
    display: block;
    margin-bottom: 4px;
  }
}

/* ヘッダーに関するCSS */

/* 一覧ページのCSS */
.index_header{
  height: 400px;
  background-image: url(louis-hansel-shotsoflouis-2yTSVIh9V2s-unsplash.jpg);
  background-size: cover;
  background-position: center center;
}

.index_header_top{
  height: 230px;
  display: flex;
  align-items: center;
}

.index_header_top h1{
  font-size: 140px;
  margin: 0 auto;
  color: #afec33;
}

.index_header form{
  display: flex;
  justify-content: center;
}

.index_header form input{
  width: 180px;
  outline: none;
}

.index_header form input[type="submit"]{
  width: 60px;
}

.index_header__bar{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index_header__bar a{
  text-decoration: none;
  color: #afec33;
}
.index_header__bar a:hover{
  color: #d6ff84;
}

.main_content{
  display: flex;
}

.left_bar{
  width: 200px;
  background-color: #37383a;
}

.left_bar a{
  color: #fff;
  text-decoration: none;
  height: 24px;
  margin-right: 10px;
}

.index_user_name{
  height: 50px;
    display: flex;
    justify-content: center;
    font-size: 33px;
    padding: 10px;
}

.index_user_name img{
  border-radius: 50px;
  width: 40px; 
  height: 40px; 
  padding: 5px;
}

.left_bar ul{
  height: 100%;
  list-style: none;
  padding-left: 0px;
}

.left_bar li{
  height: 60px;
  margin-bottom: 10px;
  padding: 15px 0 0 18px;
  border-top: white solid 1px;
  display: flex;
  align-items: center;
}

.tweet_content{
  margin: 20px auto;
  padding: 10px;
  width: 50%;
  height: 650px;
  overflow: scroll;
}

.tweet{
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
  margin-bottom: 30px;
  border-radius: 10px;
}

.tweet img {
  width: 97%;
  height: 250px;
  object-fit: contain;
  vertical-align: bottom;
  border-radius: 10px;
  margin: 10px;
  }

  .content_post {
    margin: 20px 0;
    padding: 30px;
    position: relative;
    height: 400px;
    color: #fff;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  }

  .text{
    padding-left: 20px;
  }

  .low_content{
    background-image: url(kitchen.jpg);
    height: 370px;
    background-position: center;
    background-size: cover;
    color: white;
    vertical-align: top;
  }

  .message{
    height: 400px;
    background-color: yellowgreen;
    display: flex;
  }

  .message_image{
    width: 100%;
    background-image: url(kitchen2.jpg);
    background-size: cover;
    background-position: center;
    max-width: 780px;
  }

  .messages{
    width: 70%;
    text-align: center;
    color: white;
    justify-content: center;
    padding: 10px 40px;
  }
  /* スマホ対応 */
  @media (max-width: 700px) {
    .index_header_top h1 {
      font-size: 80px;
  }

  .tweet_content {
    width: 70%;
    }

    .low_content{
      font-size: 9px;
    }

    .message {
      height: 300px;
      background-color: yellowgreen;
      display: flex;
      margin-bottom: 80px;
    }

    .messages {
      width: 200px;
      font-size: 5px;
    }

    .left_bar{
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    .left_bar a{
      margin: 4px;
    }

    .left_bar .index_user_name .user_name{
      display: none;
    }

    .index_user_name{
      position: fixed;
      bottom: 100px;
      right: 0;
    }

    .left_bar ul{
      display: flex;
      margin-top: 10px;
      justify-content: space-between;
    }

    .left_bar li{
      flex-direction: column-reverse;
      border: none;
      padding: 0;
      text-align: center;
    }
    .dummy{
      display: none;
    }
  }
  /* スマホ対応 */
/* 一覧ページのCSS */

/* 新規投稿画面のCSS */
.container_new{
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

.container_new h3{
  text-align: center;
}

.container_new form{
  text-align: center;
  width: 90%;
}

.container_new form textarea{
  width: 100%;
}

.genre-select{
  height: 25px;
  width: 125px;
  display: block;
  margin-left: 55px;
  margin-bottom: 11px;
}
/* 新規投稿画面のCSS */

/* 詳細ページのCSS */

.user_name{
  height: 50px;
    display: flex;
    justify-content: center;
    font-size: 33px;
    padding: 10px;
}

.user_name a{
  color: #37383a;
  text-decoration: none;
}

.user_name img{
  border-radius: 50px;
  width: 40px; 
  height: 40px; 
  padding: 5px;
}

.show_image{
  height: 500px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
}

.show_image img{
  height: 100%;
}

.show_user{
  justify-content: center;
    display: flex;
    padding: 10px;
}

.show_btn{
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid yellowgreen;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 10px;
  color: #00ab00;
}

.table{
  width: 80%;
  margin: 20px auto;
}
/* 詳細ページのCSS */

/* ユーザー詳細ページのCSS */
.edit_user{
  text-align: center;
  font-size: 20px;
}
.edit_user a{
  text-decoration: none;
  color: rgb(144 207 48);
}
.edit_user a:hover{
  color: rgb(194 255 102);
}
/* ユーザー詳細ページのCSS */

/* ユーザー一覧ページのCSS */

/* ユーザー一覧ページのCSS */